" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=8
set relativenumber
set number
let mapleader = " "

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" -- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'

" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
map <leader>s <Action>(SelectAllOccurrences)
map <D-r> <Action>(RenameElement)
imap <D-r> <Action>(RenameElement)
map <D-j> <Action>(MoveLineDown)
imap <D-j> <Action>(MoveLineDown)
map <D-k> <Action>(MoveLineUp)
imap <D-k> <Action>(MoveLineUp)
map <leader>i <Action>(GotoImplementation)
map <leader>t <Action>(GotoTypeImplementation)
map <leader>d <Action>(GotoDeclaration)
map <leader>u <Action>(FindUsages)
map <leader>h <Action>(ShowHoverInfo)
map <leader>f <Action>(SelectInProjectView)
map <D-d> <Action>(EditorDuplicate)
map <D-s> <Action>(SelectNextOccurrence)
map <D-S-s> <Action>(UnselectPreviousOccurrence)
map <leader>b <Action>(ToggleLineBreakpoint)
map <D-S-q> <Action>(CloseAllEditorsButActive)
imap <D-S-q> <Action>(CloseAllEditorsButActive)
map <D-+> <Action>(ActivateTerminalToolWindow)
imap <D-+> <Action>(ActivateTerminalToolWindow)
map <D-l> <Action>(NextTab)
imap <D-l> <Action>(NextTab)
map <D-h> <Action>(PreviousTab)
imap <D-h> <Action>(PreviousTab)
map <D-q> <Action>(CloseEditor)
imap <D-q> <Action>(CloseEditor)
map <D-w> <Action>(Run)
imap <D-w> <Action>(Run)
map <D-S-w> <Action>(Debug)
imap <D-S-w> <Action>(Debug)
map <D-e> <Action>(ExtractMethod)
map <leader>r <Action>(ReformatCode)
map <D-o> <Action>(Back)

vmap <D-c> <Esc>
imap <D-c> <Esc>
